:root{
    --split: 2px;
}


html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
}

.header{
    width: 100vw;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee;
}

.box {
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    border: 2px solid red;
}

.row {
    display: flex;
    gap:var(--split);
}

.grid-container{
    height: 80vh;
    width: 80vh;

    border: 3px solid blue;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap:var(--split);
}